{deps, [
  {useful_tools, ".*",{git, "https://github.com/ziyouchutuwenwu/useful_tools", {branch, "master"}}}
  % {local_dep1, {path, "../local_dep1"}},
  % {cowboy, "1.0.4",{git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.

{erl_opts, [debug_info]}.

% rebar3 shell 的时候触发
{shell, [
  {config, "config/sys.config"},
  % {apps, [demo_release]},
  {script_file, "escripts/on_app_start.erl"}
]}.


% 相对路径作为工程依赖
% {plugins, [
%   rebar3_path_deps
% ]}.

{pre_hooks, [
  {clean, "rm -rf ./_build; rm -rf ./rebar.lock"}
]}.
{provider_hooks, [
    % {pre, [{compile, clean}]}
  ]
}.

{cover_enabled, true}.
{eunit_opts, [
    verbose, {
        report,{
            eunit_surefire,[
                {dir,"./_build/test"}
            ]
        }
    }
]}.
